@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
	/* Light theme */
	:root {
		--color-brand: #007bff;
		--color-background: #f9fafb;
		--color-text: #333333;
		--color-text-secondary: #666666;
		--color-primary: #007bff;
		--color-secondary: #ffd700;
		--color-secondary-dark: #e6c200;
		--color-accent: #7ac74f;
		--color-accent-dark: #65b43f;
		--color-card-bg: #ffffff;
		--color-border: #e0e0e0;
	}

	/* Dark theme */
	.dark {
		--color-brand: #60a5fa;
		--color-background: #121c2d;
		--color-text: #e5e5e5;
		--color-text-secondary: #b0b0b0;
		--color-primary: #60a5fa;
		--color-secondary: #ffe066;
		--color-accent: #8fd96b;
		--color-card-bg: #1e2a3a;
	}

	body {
		@apply bg-[var(--color-background)] text-[var(--color-text)] text-sm transition-colors duration-300;
		font-family: 'Noto Sans JP', sans-serif;
	}
}
.quicksand {
	font-family: 'Quicksand', sans-serif;
}
